.users {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__card {
        width: calc(33.333% - 15px);
        margin-right: 0;
        cursor: pointer;
    }

    &__card:not(:last-child) {
        margin-right: 15px;
    }
}